

/**body{
    background-image:url(https://lh5.googleusercontent.com/-MejWT-q3hKc/VATT5c-F3kI/AAAAAAAAALw/nCkQ90OjOz8/w460-h300-no/entrada-principal.jpg); 
    background-size: 100% 100%;
    background-attachment: fixed;
   
    
}

**/
/* make sidebar nav vertical */ 





#btn_agregar_curso,#btn_agregar_docente,#btn_agregar_estudiante,#btn_agregar_estudiante_curso{
    float: right;
    position: relative;
    top: 50px;
    right: 30px;
   
    
}
#resultado{
    float:left;
    position: relative;
    left: 10px;
    
}

#area_data_curso{
	position: relative;
	top: 50px;
        right: 20px;
        
        
	
}
#area_data_docente{
	position: relative;
	top: 70px;
        right: 20px;
        
        
	
}
#area_data_estudiante{
	position: relative;
	top: 100px;
        right: 20px;
        
        
	
}
#lista_estudiante_curso,#lista_estudiante,#lista_docente{
    position: relative;
	top: 100px;
        right: 20px;
}


#item {
   
    box-shadow: 0 0 6px black;
    padding:0px 30px 0px 30px;
    border-radius: 5px;
    list-style-type: none;
    
    
} 

#btn_editar_curso ,#btn_eliminar_curso {
    position: relative;
    top:27px;
    
}



#texto{
    
    
   
}
















